<div class="middle-box text-center loginscreen   animated fadeInDown">
  <div>
      <div><h1 class="logo-name">MS+</h1></div>
      <h3>Register to mySociety+</h3>
      <p>Perfectly designed and precisely prepared Society Automation System</p>
      <form class="m-t" role="form" #registerForm="ngForm" (ngSubmit)="register(registerForm)">
          <div class="form-group">
              <input type="text" class="form-control" placeholder="Name" required="" #name ngModel name="name">
          </div>
          <div class="form-group">
              <input type="email" class="form-control" placeholder="Email" required="" #email ngModel name="email">
          </div>
          <div class="form-group">
              <input type="password" class="form-control" placeholder="Password" required="" #password ngModel name="password">
          </div>
          <div class="form-group">
                  <div class="checkbox i-checks"><label> <input type="checkbox" #terms ngModel name="terms"><i></i> Agree the terms and policy </label></div>
          </div>
          <button type="submit" class="btn btn-primary block full-width m-b">Register</button>

          <p class="text-muted text-center"><small>Already have an account?</small></p>
          <a class="btn btn-sm btn-white btn-block" routerLink="/login">Login</a>
      </form>
      <p class="m-t"> <small>Developed and Powered by - <a href="http://riaconsultant.github.io" target="_blank">RIAConsultant</a></small> </p>
  </div>
</div>

<div>
<form (ngSubmit)="registerMe(registerForm)" #registerForm novalidate>
  <div>
    <label>Name</label>
    <input type="text" #name/>
  </div>
  <div>
    <label>Email</label>
    <input type="email" #email maxlength="30"/>
  </div>
  <div>
    <label>Password</label>
    <input type="password" minlength="6" maxlength="10" #password/>
  </div>
  <div>
    <label>Confirm Password</label>
    <input type="password" minlength="6" maxlength="10" #confirmPassword/>
  </div>
  <div>
    
    <input type="checkbox" #terms/> <a>terms and conditions</a>
  </div>
  <div>
    <button type="submit" class="btn btn-primary">Submit</button>
    <button type="reset" class="btn btn-default">Reset</button>
  </div>
</form>
<a routerLink="/login">Sign In</a>
<a routerLink="/forgotpassword">Forgot Password?</a>
</div>