<div class="middle-box text-center loginscreen   animated fadeInDown">
  <div>
      <div><h1 class="logo-name">MS+</h1></div>
      <h3>Register to mySociety+</h3>
      <p>Perfectly designed and precisely prepared Society Automation System</p>
      <form class="m-t" role="form" #registerForm="ngForm" (ngSubmit)="registerMe(registerForm)" novalidate>
          <div class="form-group">
              <input type="text" class="form-control" placeholder="Name" required="true" [(ngModel)]="model.uname"  name="uname">
          </div>
          <div class="form-group">
              <input type="email" class="form-control" placeholder="Email" required="true" [(ngModel)]="model.email"  name="email">
          </div>
          <div class="form-group">
              <input type="password" class="form-control" placeholder="Password" required="true" [(ngModel)]="model.password"  name="password">
          </div>
          <div class="form-group">
                  <div class="checkbox i-checks"><label> <input type="checkbox" [(ngModel)]="model.term"  name="terms" required="true"><i></i> Agree the terms and policy </label></div>
          </div>
          <button type="submit" class="btn btn-primary block full-width m-b">Register</button>

          <p class="text-muted text-center"><small>Already have an account?</small></p>
          <a class="btn btn-sm btn-white btn-block" routerLink="/login">Login</a>
      </form>
      <p class="m-t"> <small>Developed and Powered by - <a href="http://riaconsultant.github.io" target="_blank">RIAConsultant</a></small> </p>
  </div>
</div>
{{registerForm.value |json}}
<div>

<a routerLink="/login">Sign In</a>
<a routerLink="/forgotpassword">Forgot Password?</a>
</div>