<div class="middle-box text-center loginscreen animated fadeInDown">
  <div>
      <div>

          <h1 class="logo-name">MS+</h1>

      </div>
      <h3>Welcome to mySociety+</h3>
      <p>Perfectly designed and precisely prepared Society Automation System</p>
      <p>Login in. To see it in action.</p>
      <form class="m-t" role="form" #loginForm="ngForm" (ngSubmit)="loginMe(loginForm)" novalidate>
          <div class="form-group">
              <input type="email" class="form-control" placeholder="Username" required=true [(ngModel)]="model.email"  name="email">
              <!-- <div [hidden]="email.valid || email.pristine" class="alert alert-danger"> Email id is required</div> -->
          </div>
          <div class="form-group">
              <input type="password" class="form-control" placeholder="Password" required="true" [(ngModel)]="model.password"  name="password">

          </div>
        <button type="submit" class="btn btn-primary block full-width m-b">
            <i class="fa fa-refresh fa-spin"></i>  Login
        </button>

          <a  routerLink="/forgotpassword"><small>Forgot password?</small></a>
          <p class="text-muted text-center"><small>Do not have an account?</small></p>
          <a class="btn btn-sm btn-white btn-block" routerLink="/register">Create an account</a>
      </form>
      <p class="m-t"> <small>Developed and Powered by - <a href="http://riaconsultant.github.io" target="_blank">RIAConsultant</a></small> </p>
  </div>
</div>
<!-- <form #loginForm="ngForm" novalidate (submit)="loginMe(loginForm)">
  <input type="text" placeholder="Email" #name  name="email" [(ngModel)]="model.email" [ngModelOptions]="{updateOn: 'blur'}"/>
  <input type="password" placeholder="Password" #name  name="password" [(ngModel)]="model.password" [ngModelOptions]="{updateOn: 'blur'}"/>
  <button type="submit">login</button>
</form> -->
<!-- <button (click)="socialLogin('g')">Login with Google + </button>
<button (click)="socialLogin('fb')">Login with Facebook </button>
<button (click)="socialLogin('t')">Login with Twitter </button>
<button (click)="socialLogin('git')">Login with Github </button> -->
<!-- <a routerLink="/register">Register Account ?</a>|<a routerLink="/forgotpassword">Forgot Password?</a> -->
{{ loginForm.value | json }}
